/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#getPlayers{
    background-color: rgb(30, 94, 17);
    display: grid;
    grid-template-columns: 2fr 1.2fr 2fr;
    grid-template-rows: 6vh 2fr 1fr 1fr;
    height: 100vh;
    padding: 0 24px;
    text-align: center;
}

#getPlayers button {
    background-color: white;
    border-style: none;
    font-size: 5rem;
    padding: 16px;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.3);
}

#getPlayers div{
    grid-row: 2;
}

#buttonsBlock{
    display: flex;
    gap: 16px;
    margin: 24px;
    grid-row: 2;
    grid-column: 2;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 24px;
    height: 100%;
}

#buttonsBlock button{
     height: 136px;
     width: 136px;
     border-radius: 4px;
}


#getPlayers Span{
    font-size: 3rem;
    margin: 16px;
}

#divPlayer {
     display: grid;
}

#newGameButton{
    grid-column: 2;
    grid-row: 3;
    height: fit-content;
    width: max-content;
    border-radius: 4px;
    justify-self: center;
}

#blockPlayerOne{
    display: flex;
    justify-self:end;
    align-self: center;
    flex-direction: column;
    text-align: center;
}

#blockPlayerTwo{
    display: flex;
    justify-self:start;
    align-self: center;
    flex-direction: column;
    text-align: center;
}

#gameContainer{
    background-color: blue;
    height: 100vh;
}

#displayBoard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:4px;
    height: 400px;
    width: 400px;
}

#scoreBoard{
    display: flex;
}

#scoreBoard div{
    margin: 12px;
    background: green;
}

#roundOverScreen{
    display:flex;
    background: red;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    font-size: 8em;
}

#gameOverScreen{
    display:grid;
    height:100vh;
    font-size: 6em;
    background:rgb(100,200,60);
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(4,1fr);
    grid-gap:60px;
}

#gameOverScreen span{
    grid-row: 2;
    grid-column:2/4;
    grid-column-start:2;
    text-align: center;
}

#rematch{
    grid-row: 3;
    grid-column: 2;
}
#gameOverNP{
    grid-row: 3;
    grid-column: 3;
}

#gameOverScreen button{
    border-radius: 16px;
    font-size:4rem;
    height:70%;
}